.services {
  @include styles(padding-top, 118);
  @include styles(padding-bottom, 115, 50);
  color: $black-color;
  // .services__top-row
  &__top-row {
    @include styles(margin-bottom, 76, 30);
    display: flex;
    @include to(800px) {
      display: grid;
      width: 100%;
    }
  }

  // .services__title
  &__title {
    @include styles(letter-spacing, 2.3);
    font-weight: 700;
    text-transform: uppercase;
    margin-right: auto;

    @include to(800px) {
      grid-column: 1/2;
      margin-right: 0;
      text-align: center;
      margin-bottom: 10px;
    }

    &:after {
      @include styles(width, 50);
      content: '';
      display: block;
      margin-top: 10px;
      height: 2px;
      background-color: $blue-color;
      @include to(800px) {
        margin-right: auto;
        margin-left: auto;
      }
    }

  }

  // .services__desc
  &__desc {
    @include styles(line-height, 19);
    @include styles(letter-spacing, 0.2);
    @include styles(max-width, 405);
    font-size: 11px;
    width: 100%;
    @include to(800px) {
      grid-column: 1/2;
      max-width: 100%;
      margin-bottom: 20px;
    }
    @include to(500px) {
      grid-column: 1/2;
    }
  }

  // .services__btn
  &__btn {
    margin-left: 31px;
    @include to(800px) {
      grid-column: 1/3;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // .services__bot-row
  &__bot-row {
    @include styles(gap, 28);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include to(800px) {
      grid-template-columns: 1fr;
    }
  }

  // .services__block
  &__block {
  }
}

.block {
  padding: 38px 20px 38px 23px;
  border: 1px solid #E6E6E6;
  // .block__img
  &__img {
    @include styles(margin-bottom, 24);
    @include widthHeight((70.5, 75));

    img {
      width: 100%;
    }
  }

  // .block__title
  &__title {
    @include styles(font-size, 16);
    @include styles(line-height, 24);
    @include styles(letter-spacing, 0.43);
    @include styles(margin-bottom, 13);
    font-weight: 700;
    text-transform: uppercase;
  }

  // .block__desc
  &__desc {
    @include styles(font-size, 13, 12);
    @include styles(line-height, 23);
    @include styles(letter-spacing, 0.188);
  }
}
