section.about
    .wrapper
        h2.about__title Our story
        .about__row
            .about__text
                h3.about__subtitle Founded in 2011 by John Mathew Smith, <span>Konstruct</span> has become the number one  construction management firm
                p.about__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.

            .about__gallery
                .about__img(style='background-image: url(img/store_1.jpg)')
                    .about__img-title We plan
                .about__img(style='background-image: url(img/store_2.jpg)')
                    .about__img-title We manage
                .about__img(style='background-image: url(img/store_3.jpg)')
                    .about__img-title We build

                .t2 We build

                img(src='img/store_2.jpg' alt='').test




