footer#footer.footer
    .wrapper
        .footer__row
            .footer__item.footer__item-company
                h3.footer__title.footer__title-company Company
                svg.footer__logo
                    use(xlink:href="img/sprites/sprite.svg#projeco-logo")
                p.footer__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.

            .footer__item.footer__item-links
                h3.footer__title.footer__title-links Links
                .footer__menu
                    .footer__menu-list
                        a(href='#').footer__link Home
                        a(href='#').footer__link About
                        a(href='#').footer__link Services
                        a(href='#').footer__link Projects
                        a(href='#').footer__link Contact us

                    .footer__menu-list
                        a(href='#').footer__link Faq
                        a(href='#').footer__link Terms
                        a(href='#').footer__link Careers


                    .footer__menu-list
                        a(href='#').footer__link Blog
                        a(href='#').footer__link Partners
                        a(href='#').footer__link News

            .footer__item.footer__item-contact
                h3.footer__title.footer__title-contact Contact us
                h4.footer__address 213 Baker Street Oriel City Kounty 7000 KNW, Kountry Name
                h4.footer__tel +23 994 233 4022
                h4.footer__mail info@konstruct.com

            .footer__item.footer__item-soc
                .footer__soc
                    a(href='#').footer__soc-link
                        i.fa.fa-facebook-square(aria-hidden="true")
                    a(href='#').footer__soc-link
                        i.fa.fa-twitter(aria-hidden="true")
                    a(href='#').footer__soc-link
                        i.fa.fa-google(aria-hidden="true")
        .footer__copyright
            | &copy; 2017 Konstruct Inc. Designed by Jane Kathryn Teo







