header.header(style='background-image: url(img/bg.jpg)')
    .wrapper
        .header__row
            .header__logo
                svg
                    use(xlink:href="img/sprites/sprite.svg#projeco-logo")

            h1.header__title  Partner with konstuct
            h3.header__subtitle An award-winning construction management firm
            a(href="#footer").header__scroll Scroll down







