.navbar
    .wrapper
        .navbar__row
            svg.navbar__logo
                use(xlink:href="img/sprites/sprite.svg#projeco-logo-black")

            button.menu__btn
                span.menu__burger
                span.menu__burger
                span.menu__burger

            .navbar__menu.mob-menu
                ul.navbar__list
                    li.navbar__item
                        a(href='#') Home
                    li.navbar__item.navbar__active
                        a(href='#') About
                    li.navbar__item
                        a(href='#') Services
                    li.navbar__item
                        a(href='#') Work
                    li.navbar__item
                        a(href='#') Contact
