section.newsletter
    .wrapper
        .newsletter__row
            h2.newsletter__title Newsletter Signup
            form.newsletter__form
                input(type='text' placeholder='test@youremail.com').newsletter__input
                button(type='submit').newsletter__btn.btn-def Signup
