section.services
    .wrapper
        .services__top-row
            h2.services__title Our capabilities
            .services__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            button.services__btn.btn-def  All services
        .services__bot-row
            .services__block.block
                .block__img
                    img(src="img/services1.png" alt="Project and construction management")
                .block__title Project and construction management
                .block__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            .services__block.block
                .block__img
                    img(src="img/services2.png" alt="Structure audit and maintenance")
                .block__title Structure audit and maintenance
                .block__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            .services__block.block
                .block__img
                    img(src="img/services3.png" alt="Factory construction and modeling")
                .block__title Factory construction and modeling
                .block__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.

